extends ./layout/app.pug

block styles
  
  style.
    body {
      padding: 0;
      margin: 0;
    }  
    
    .instructions {
      text-align: center;
      margin-top: 40px;
      font-size: 2em;
    }

block content
  div.instructions.
    Visit #[strong http://#{host}:#{port}/#{id}] on your device to get started.
    
